{% extends "home/layout_three_columns.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load profile %}
{% load gravatar %}

{% block title %}

{% trans 'Directory' %}
{% if q %}
	| {{ q }}
{% endif %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col col-md-12">
        <h2>{% trans 'Directory' %}</h2>
	</div>
</div>

<div class="row">
    <div class="col col-md-12 centered">
        <form role="search" method="GET"
        name="search" action="{{ request.path }}" >
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    {% trans 'search' %}
                </span>
                <input class="form-control" name="q" title="search" type="text" value="{{ q }}"/>
            </div>
        </form>
        <br/>
	</div>
</div>

{% if is_paginated %}
<div class="row">
    <div class="col col-md-12 centered pagination-container">
        {% bootstrap_pagination page_obj %}
	</div>
</div>
{% endif %}

<div class="row">
<div class="col col-md-12">
<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans 'Profile' %}</th>
            <th>{% trans 'Last name' %}</th>
            <th>{% trans 'First name' %}</th>
            <th>{% trans 'Pseudo' %}</th>
            <th>{% trans 'Email' %}</th>
            <th>{% trans 'School' %}</th>
            {# <th>{% trans 'Room' %}</th> #}
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                <a class="logo"
                title="{% trans 'view profile' %}"
                href="{% profile_url user %}" >
                    {% gravatar user.email 30 %}
                </a>
            </td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>
                {{ user.username }}
            </td>
            <td>
                <a href="mailto:{{ user.email|urlencode }}"
                title="{{ _('Send a mail to')|add:' '|add:user.first_name|add:' '|add:user.last_name }}"
                >
                    {{ user.email }}
                </a>
            </td>
            {% if user.get_rezo %}
                <td>
									{{ user.get_rezo.ecole }}
									{{ user.get_rezo.precisionecole }}
								</td>
                {# <td>{{ user.get_room }}</td> #}
            {% else %}
                <td></td>
            {% endif %}
        </tr>
		{% empty %}
		<tr class="inactive">
			<td><span class="label label-defaul label-danger">{% trans 'no result' %}</span></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

{% if is_paginated %}
<div class="row">
    <div class="col col-md-12 centered pagination-container">
        {% bootstrap_pagination page_obj %}
	</div>
</div>
{% endif %}

{% endblock %}
