{% extends "home/base.html" %}
{% load i18n %}
{% block layout %}

<div class="row">
    <div class="col-md-2 col-sx-1 dark-text">
			{% block nav %}
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav">
							<li>
								<a class="btn btn-default {% block usersbtnclass %}{% endblock %}" href="{% url 'directory' %}">
									<i class="fa fa-user"></i>
									{% trans 'Users' %}</a>
									<br/>
							</li>
							<li>
								<a class="btn btn-default {% block groupsbtnclass %}{% endblock %}" href="{% url 'groups' %}">
									<i class="fa fa-users"></i>
									{% trans 'Groups' %}
								</a>
								<br/>
							</li>
						</ul>
					</div>
			{% endblock %}
		</div>
		<div class="col-md-10">
					{% block form %}{% endblock %}
		</div>
</div>

<div class="row">
	<div class="col-md-12">
		{% block results %}{% endblock %}
	</div>
</div>
			
{% endblock %}
