.author-info {
	height: 40px;
}

h4.author-name {
	margin: 0px;
}

.author-icon {
	width: 100%;
}

.newsfeed-action {
    font-size: 14px;
}

.comments {
	background-color: #ecf0f1;
	padding: 15px;
	margin-top: 20px;
	margin-right: -19px;
	margin-left: -19px;
	margin-bottom: -19px;
}

.comments li {
	padding: 3px;
}

.comments hr {
	border-color: #bdc3c7;
}

p img {
    max-width: 100%;
    height: auto;
}
